@media (min-width: 0px) and (max-width: 900px) {
    div.btn_selecionar{
        width: 35vw;
        height: 30vw;
        }
        i.icon{
            font-size: 5vw;

            
        }
        p.logar{
            font-size: 3vw;
        }

        div.botoes_usuario{
            height: 10vw;
            width: 50vw;
            
            font-size: 4vw;
        }
        footer#rodape{

        
            font-size: 5vw;
            height: 20vw;
           
        }
        p.rodape1{
            font-size: 2vw;
        }
        .btnmaisinfo{
            width: 100%;
            
            font-size: 5vw;
        }
        
    }